@model TicketVM

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow card">
                <div class="card-header text-center text-light bg-secondary bg-gradient py-3">
                    <h4 class="mb-0">Zakup biletu</h4>
                </div>
                <div class="card-body p-4">
                    <div class="border p-3">
                        <form method ="post" class="row">
                            <div class="form-floating py-2 col-12">
                                <select asp-for="@Model.BusStop.BusStop_Id" asp-items="@Model.BusStopList" class="form-control border-0 shadow">
                                    <option class="p-3 text-lg" selected default>-- Wybierz przystanek startowy --</option>
                                </select>
                                <label  class="ms-2">Przystanek startowy</label>
                                <span asp-validation-for="BusStop.BusStop_Id" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <select asp-for="@Model.BusStop.BusStop_Id" asp-items="@Model.BusStopList" class="form-control border-0 shadow">
                                    <option selected default>-- Wybierz przystanek końcowy --</option>
                                </select>
                                <label class="ms-2">Przystanek końcowy</label>
                                <span asp-validation-for="BusStop.BusStop_Id" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for=Ticket.SeatNumber class="form-control border-0 shadow">
                                <label class="ms-2" >Numer siedzenia</label>
                                <span asp-validation-for="Ticket.SeatNumber" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for=Ticket.DepartureDate class="form-control border-0 shadow">
                                <label class="ms-2" >Data podróży</label>
                                <span asp-validation-for="Ticket.DepartureDate" class="text-danger"></span>
                            </div>                          
                            <div class="form-floating py-2 col-12">
                                <select asp-for="@Model.Ticket.Discount_Id" asp-items="@Model.DiscountList" class="form-control border-0 shadow">
                                    <option selected default>-- Wybór zniżki --</option>
                                </select>
                                <label class="ms-2">Zniżka</label>
                                <span asp-validation-for="Ticket.Discount_Id" class="text-danger"></span>
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-secondary btn-lg">[OK] Przejdź do płatności</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>